img#logo {
  display: block;
  width: 284px;
  margin: 0 auto;
}

h2#title {
  text-align: center;
}

#poi-information > .ui-li {
  min-height: 40px;
}

#poi-information li {
  padding-top: 15px;
}

img.info-icon {
  margin: 15px 10px;
}
