img#logo {
  display: block;
  width: 170px;
  margin: 0 auto;
}

img#ac-map {
  display: block;
  width: 280px;
  margin: 0 auto;
}

h2#title {
  text-align: center;
}

#poi-information > .ui-li {
  min-height: 40px;
}

#poi-information li {
  padding-top: 15px;
  padding-bottom: 15px;
}

img.info-icon {
  margin: 15px 10px;
}

#poi-name-section,
#poi-location-section,
#poi-telephone-section {
  padding-left: 60px;
}

#map {
  width: 100%;
  height: 200px;
  border: 1px solid #bcbcbc;
}

.hidden {
  display: none;
}
